/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
.top-bar{
  background: #7aaec4;
  height: 2rem;
  padding: .5rem 0;
}
.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


/*============= NAVIGATION =============*/
.navbar{
  font-size:1.15rem;
  font-weight: 600;
  letter-spacing:.1rem;
  text-decoration: none;
  box-shadow: 0 .5rem .5rem  rgba(0, 0, 0, .1);
  z-index: 1;
}

.nav-item {
  padding:.5rem
}
.nav-link{
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}


/*============= LANDING PAGE CONTENT =============*/
.small_img {
  max-width:49%;
  max-height:50%;
  padding: 15px;
}

.large_img {
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url('../web-design-challenge/Images/globe.jpg');
  position: fixed;
}

.fixed-background {
  overflow: hidden; 
  padding: 15rem 0; 
}




/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image for mobile and tablet--*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}